openapi: 3.1.0
info:
  title: kyc-gateway
  version: "9.0"
  description: |
    Sub-2-second KYC/KYB intake screening with 18 parallel compliance engines.
    All POST routes require API key authentication.
    Admin routes additionally require X-Kyc-Admin-Key or Bearer <KYC_ADMIN_KEY>.

servers:
  - url: https://kyc.wwwknockoutforever.com
    description: Production (Cloudflare Workers)

security:
  - BearerAuth: []
  - GatewayApiKey: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    GatewayApiKey:
      type: apiKey
      in: header
      name: X-Gateway-Api-Key
    AdminKey:
      type: apiKey
      in: header
      name: X-Kyc-Admin-Key

  schemas:
    Address:
      type: object
      properties:
        street:    { type: string }
        city:      { type: string }
        state:     { type: string }
        zip:       { type: string }
        country:   { type: string }

    BeneficialOwner:
      type: object
      required: [name, ownership_pct]
      properties:
        name:          { type: string }
        tin:           { type: string }
        ownership_pct: { type: number, minimum: 0, maximum: 100 }
        nationality:   { type: string }

    Document:
      type: object
      properties:
        type:    { type: string, enum: [passport, drivers_license, national_id, ein_letter] }
        number:  { type: string }
        expiry:  { type: string, format: date }
        country: { type: string }

    KycApplyRequest:
      type: object
      required: [applicant_name, tin]
      properties:
        entity_type:
          type: string
          enum: [individual, business]
          default: individual
        applicant_name:        { type: string }
        tin:                   { type: string, description: "SSN (individual) or EIN (business)" }
        date_of_birth:         { type: string, format: date }
        country_code:          { type: string, description: "ISO 3166-1 alpha-2" }
        previous_country_code: { type: string }
        address:               { $ref: "#/components/schemas/Address" }
        transaction_amount:    { type: number, description: "Trigger amount for structuring check" }
        adverse_media_text:    { type: string, description: "Free-text media summary for keyword scan" }
        beneficial_owners:
          type: array
          items: { $ref: "#/components/schemas/BeneficialOwner" }
        documents:
          type: array
          items: { $ref: "#/components/schemas/Document" }
        ownership_layers:      { type: integer, description: "Corporate depth layers" }
        ip_country:            { type: string, description: "Country of current request IP (ISO-2)" }
        previous_ip_country:   { type: string }
        previous_ip_timestamp: { type: string, format: date-time }
        network_peers:
          type: array
          items:
            type: object
            properties:
              tin:     { type: string }
              address: { type: string }

    EngineBreakdown:
      type: object
      additionalProperties:
        type: object
        properties:
          score: { type: integer }
          hits:  { type: array, items: { type: string } }

    AccountGeneration:
      type: object
      properties:
        allowed:        { type: boolean }
        blocked_reason: { type: string, nullable: true }

    KycApplyResponse:
      type: object
      properties:
        submission_id:    { type: string, format: uuid }
        version:          { type: string }
        decision:         { type: string, enum: [APPROVED, REVIEW, DENIED] }
        risk_score:       { type: integer, minimum: 0, maximum: 100 }
        flags:            { type: array, items: { type: string } }
        engines:          { type: object, properties: { count: { type: integer } } }
        latency_ms:       { type: integer }
        account_generation: { $ref: "#/components/schemas/AccountGeneration" }
        review_queued:    { type: boolean }
        breakdown:        { $ref: "#/components/schemas/EngineBreakdown" }
        e4_detail:
          type: object
          properties:
            tin_valid: { type: boolean }
            ein_valid: { type: boolean }
        e8_detail:
          type: object
          properties:
            flagged_owners: { type: array, items: { type: object } }
        e17_detail:
          type: object
          properties:
            fincen_hits: { type: array, items: { type: string } }
        screened_at: { type: string, format: date-time }

    ReviewQueueItem:
      type: object
      properties:
        id:           { type: integer }
        reference_id: { type: string, format: uuid }
        type:         { type: string }
        flags_json:   { type: string }
        payload_json: { type: string }
        status:       { type: string, enum: [pending, approved, rejected, escalated] }
        created_at:   { type: string, format: date-time }
        resolved_at:  { type: string, format: date-time, nullable: true }
        resolved_by:  { type: string, nullable: true }

    StatsResponse:
      type: object
      properties:
        version:        { type: string }
        engines:        { type: integer }
        total:          { type: integer }
        approved:       { type: integer }
        review:         { type: integer }
        denied:         { type: integer }
        avg_latency_ms: { type: integer }
        fincen_hits:    { type: integer }
        generated_at:   { type: string, format: date-time }

paths:
  /api/kyc/apply:
    post:
      summary: Submit KYC/KYB intake for screening
      operationId: kycApply
      security:
        - BearerAuth: []
        - GatewayApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/KycApplyRequest" }
            examples:
              individual:
                summary: Individual KYC
                value:
                  entity_type: individual
                  applicant_name: "John Smith"
                  tin: "123-45-6789"
                  date_of_birth: "1985-03-22"
                  country_code: "US"
                  address: { street: "100 Main St", city: "Austin", state: "TX", zip: "78701" }
              business:
                summary: Business KYB
                value:
                  entity_type: business
                  applicant_name: "Acme Holdings LLC"
                  tin: "12-3456789"
                  country_code: "US"
                  beneficial_owners:
                    - { name: "Jane Doe", tin: "987-65-4321", ownership_pct: 51 }
                  ownership_layers: 2
      responses:
        "200":
          description: Screening complete
          headers:
            X-Submission-Id:
              schema: { type: string, format: uuid }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KycApplyResponse" }
        "401": { description: Unauthorized }
        "422": { description: Missing required fields }

  /api/kyc/status/{submission_id}:
    get:
      summary: Retrieve submission status
      operationId: kycStatus
      parameters:
        - name: submission_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Submission record }
        "404": { description: Not found }

  /api/kyc/review:
    get:
      summary: List review queue (admin)
      operationId: kycReviewList
      security:
        - AdminKey: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: per_page
          in: query
          schema: { type: integer, default: 25, maximum: 100 }
        - name: status
          in: query
          schema: { type: string, enum: [pending, approved, rejected, escalated], default: pending }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:     { type: integer }
                  per_page: { type: integer }
                  total:    { type: integer }
                  results:
                    type: array
                    items: { $ref: "#/components/schemas/ReviewQueueItem" }

  /api/kyc/review/{submission_id}/{action}:
    post:
      summary: Take action on a queued submission (admin)
      operationId: kycReviewAction
      security:
        - AdminKey: []
      parameters:
        - name: submission_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: action
          in: path
          required: true
          schema: { type: string, enum: [approve, reject, escalate] }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes: { type: string }
      responses:
        "200": { description: Action applied }
        "400": { description: Invalid action }
        "403": { description: Forbidden }

  /api/kyc/batch:
    post:
      summary: Batch screening — up to 50 submissions (admin)
      operationId: kycBatch
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [submissions]
              properties:
                submissions:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items: { $ref: "#/components/schemas/KycApplyRequest" }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:   { type: integer }
                  results: { type: array }
        "422": { description: 1–50 submissions required }

  /api/kyc/stats:
    get:
      summary: Aggregate stats (admin)
      operationId: kycStats
      security:
        - AdminKey: []
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatsResponse" }

  /api/kyc/health:
    get:
      summary: Liveness probe (unauthenticated)
      operationId: kycHealth
      security: []
      responses:
        "200": { description: Healthy }
        "503": { description: Degraded (D1 unavailable) }
